body {
    padding-bottom: 5rem;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #F7F6F4;
    padding: 0.5rem 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

    a, a:visited, a:active, a:hover {
        color: rgba(0, 0, 0, 0.8);
        font-size: 36px !important;

        .brand__main {
            font-weight: bold;
        }
    }
}

.navlinks {
    a, a:visited, a:active, a:hover {
        color: rgba(0, 0, 0, 0.8);
        font-family: 'Source Sans Pro';
        text-transform: uppercase;
        margin-left: 0.5rem;
    }
}

h1 {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0;

    a, a:visited, a:active, a:hover {
        color: #000;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
}

.page {
    margin-top: 1rem;

    .date {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 1rem;
    }
}

hr {
    border: none;
    border-top: 1px #ddd;
    border-top-style: double;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

hr:after {
    background: #fff;
    content: '§';
    color: #666;
    padding: 0 4px;
    position: relative;
    top: -13px;
}