---
---
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>scottparker.co
        {% if page.title %}
        | {{ page.title | markdownify | strip_html | strip_newlines | escape_once }}
        {% endif %}
    </title>
    {% if page.title %}
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.description %}
    <meta itemprop="description"
        content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">
    {% elsif page.excerpt %}
    <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
    <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y" }}">
    {% endif %}
    {% if page.teaser %}
    <meta property="og:image" content="{{ page.teaser }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body class="bg-slate-50 pb-10">
    <navbar class='bg-slate-800 flex px-4 py-2 text-slate-50 border-sky-400 border-b-2'>
        <a href="https://scottparker.co" class='grow flex gap-3 my-2'>
            <div class="border-r-2 border-slate-50 p-3 pl-0">
                <img src="/images/logo.svg" class="h-full" />
            </div>
            <div class="flex flex-col">
                <span class="font-bold text-3xl">Scott Parker</span>
                <span class="text-sky-400 leading-none">Scott is a generally okay human</span>
                <span class="text-fuchsia-400 leading-none">He writes on this website sometimes</span>
            </div>
        </a>
        <div class="flex uppercase items-end gap-6 text-lg">
            <a class="text-slate-50 border-b border-sky-600 leading-5" href="/">Blog</a>
            <a class="text-slate-50 border-b border-sky-600 leading-5" href="/about">About</a>
            <a class="text-slate-50 border-b border-sky-600 leading-5"
                href="https://feeds.feedburner.com/citizenparker">RSS</a>
        </div>
    </navbar>

    <div class="border-t-2 border-fuchsia-400">
        <div class="content max-w-3xl mx-auto pt-14 p-4">
            {{ content }}
        </div>
    </div>
</body>

</html>