---
---
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>scottparker.co |
        {% if page.title %}
            {{ page.title | markdownify | strip_html | strip_newlines | escape_once }}
        {% else %}
            Scott Parker is an engineering leader and roleplayer in Chicago
        {% endif %}
    </title>
    {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.description %}
        <meta itemprop="description" content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">
    {% elsif page.excerpt %}
        <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">
    {% endif %}
    {% if page.teaser %}
        <meta property="og:image" content="{{ page.teaser }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="/" class="navbar-brand"><span class="brand__main">scottparker</span>.co</a>
        </section>
        <section class="navbar-section hide-sm">
            scott parker is an engineering leader and roleplayer in chicago
        </section>
    </header>

    <div class='container'>
        <div class='columns'>
            <div class='navlinks column col-auto'>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='https://feeds.feedburner.com/citizenparker'>RSS</a>
            </div>
        </div>
        <div class='columns'>
        </div>
    </div>
    
    <div class='categories float-left hide-xl'>
        <h2>Categories</h2>
        <ul>
            <li><a href="/category/leadership">Leadership</a></li>
            <li><a href="/category/roleplaying">Roleplaying</a></li>
        </ul>
    </div>

    <div class="container grid-lg">
        {{ content }}
    </div>
</body>

</html>
