---
---
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="/" class="navbar-brand"><span class="brand__main">scottparker</span>.co</a>
        </section>
        <section class="navbar-section">
            scott parker is an engineering leader and roleplayer in chicago
        </section>
    </header>

    <div class='container'>
        <div class='columns'>
            <div class='navlinks column col-auto'>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='/rss'>RSS</a>
            </div>
        </div>
    </div>

    <div class="container grid-lg">
        {{ content }}
    </div>
</body>

</html>
